<div class="container">
    <h1>Users</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Age</th>
                <th>Role</th>
                <th>Chat</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let user of users">
                <td>{{user["username"]}}</td>
                <td>{{user["email"]}}</td>
                <td>{{user["birthdate"]}}</td>
                <td>{{user["userage"]}}</td>
                <td>{{user["role"]}}</td>
                <td><button type="button" class="btn btn-success btn-block mb-4">Chat!</button></td>
                <td><button type="button" class="btn btn-danger btn-block mb-4" (click)="deleteClicked(user['id'])">Delete</button></td>
            </tr> -->
            <!-- <tr *ng-repeat="user in users"> -->
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.birthdate}}</td>
                <td>{{user.userage}}</td>
                <td>{{user.role}}</td>
                <td><button type="button" class="btn btn-success btn-block mb-4">Chat!</button></td>
                <td><button type="button" class="btn btn-danger btn-block mb-4" (click)="deleteClicked($event, user.userid)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
